:root {
  --color-white: #f6f2e5;
  --color-black: #3e3832;

  --color-green: #2c6469;
  --color-purple: #b20155;
  --color-orange: #df6536;
  --color-blue: #3469a1;
  --color-yellow: #ebb137;

  --color-background: var(--color-white);
  --color-text: var(--color-black);

  --color-shape-stroke: var(--color-text);
}
