@font-face {
  font-family: "BIZ UDMincho";
  src: url("/fonts/BIZUDMincho-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

:root {
  --font-default: "BIZ UDMincho", serif;
}
