---
import PointCloud from "../components/PointCloud.astro";
import MassSpectrum from "../components/MassSpectrum.astro";
import EvaporationScrubber from "../components/EvaporationScrubber.astro";
---

<div class="dashboard">
  <div class="point-cloud">
    <PointCloud />
  </div>
  <div class="mass-spectrum-panel">
    <MassSpectrum />
  </div>
  <div class="scrubber-panel">
    <EvaporationScrubber />
  </div>
</div>

<style>
  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .point-cloud {
    flex: 1;
    min-height: 0;
  }

  .mass-spectrum-panel {
    height: 200px;
    flex-shrink: 0;
  }

  .scrubber-panel {
    height: 60px;
    flex-shrink: 0;
  }
</style>

<script>
  import { loadData } from "../stores/ui";

  loadData("/data/local/atom_probe_tomography_data-public.epos");
</script>
