---
import "../styles/reset.css";
import "../styles/spacing.css";
import "../styles/base.css";
import "../styles/colors.css";
import "../styles/typography.css";
import "../styles/fonts.css";

import type { MetaType } from "../meta/meta.types";
import Meta from "../meta/Meta.astro";

interface Props {
  meta: MetaType;
}

const { meta }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Digital Meadow" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="theme" content="#F6F2E5" />
    <meta name="generator" content={Astro.generator} />
    <title>{meta?.title}</title>
    <Meta meta={meta} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

